h1 {
    text-align: center;
}

label {
    display: block;
}

select, input[type="file"], button {
    margin-bottom: 10px;
}

#resultLabel {
    text-align: center;
    font-weight: bold;
}

#imageContainer {
    margin-top: 20px;
    text-align: center;
}

#uploadedImage {
    display: none;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

